/****** RESET CSS STARTS HERE ***********/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/****** RESET CSS ENDS HERE ***********/

.main {
  max-height: 100vh;
}
.main .content {
  /* margin: 2em 25em; */
  height: 100%;
  display: flex;
  flex-direction: column;
  /* border: red solid; */
  position: relative;
  align-items: center;
}
.main .content .robo-content {
  /* margin: 2em 25em; */
  /* border: red solid; */
  position: relative;
  align-items: center;
}
.main .content .robo-svg {
  color: red;
  max-width: 40%;
  /* border: solid black; */
  margin: 2em 0;
}

.main .content .action-items {
  margin: 2em 0;
  /* border: solid blue; */
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  background-color: #93c7ef;
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
  padding: 1%;
  margin: 0 1em;
  cursor: pointer;
}

button:hover {
  /* background-color: #cce9f9; */
  background-color: #54a7d4;
}

.main .content .action-items .voice .voiceImage {
  max-height: 1em;
  padding: 0 0.2em;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.overlay .popup {
  margin: 70px auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 500s ease-in;
  height: 40%;
}

.overlay .popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.overlay .popup .close {
  position: absolute;
  top: -5px;
  right: 0px;
  transition: all 100ms;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  border-radius: 50%;
  padding: 2%;
  border: none;
  color: blue;
  position: absolute;
}
.overlay .popup .close:hover {
  color: #06d85f;
}
.overlay .popup .content {
  border: solid grey 2px;
  height: fit-content;
  top: 20%;
}
.overlay .popup .content .joke-content {
  margin: 4% 2%;
  max-height: 30%;
  overflow: auto;
  color: black;
  padding: 5%;
}
.overlay .popup .content .joke-content-punchline {
  margin: 4% 2%;
  max-height: 30%;
  overflow: auto;
  color: black;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
#bars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
  /* visibility: hidden; */
  /* display: none; */
}
#bars .try-btn {
  display: none;
}
.bar {
  background: #52467b;
  bottom: 1px;
  height: 1px;
  width: 10px;
  margin: 0px 4px;
  border-radius: 5px;
  animation: sound 0ms -600ms linear infinite alternate;
  /* visibility: hidden; */
}
.voice-main {
  margin-top: 3%;
}

.voice-main .voice-content {
  border: #385c47 solid 2px;
  height: 70px;
  display: none;
  /* visibility: hidden; */
  padding: 2%;
}
.voice-content p {
  font-size: 25px;
  text-align: center;
  margin-top: 10%;
}
.voice-answer {
  border: #06d85f solid 2px;
  display: none;
  padding: 2%;
  margin-top: 2%;
}
.voice-answer .voice-reply {
  text-align: right;
  font-size: 20px;
  margin-top: 4%;
}
.voice-answer .voice-joke {
  /* text-align: right; */
  margin-top: 4%;
  font-size: 18px;
}
@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 50px;
  }
}

.bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}
.bar:nth-child(2) {
  left: 15px;
  animation-duration: 433ms;
}
.bar:nth-child(3) {
  left: 29px;
  animation-duration: 407ms;
}
.bar:nth-child(4) {
  left: 43px;
  animation-duration: 458ms;
}
.bar:nth-child(5) {
  left: 57px;
  animation-duration: 400ms;
}
.bar:nth-child(6) {
  left: 71px;
  animation-duration: 427ms;
}
.bar:nth-child(7) {
  left: 85px;
  animation-duration: 441ms;
}
.bar:nth-child(8) {
  left: 99px;
  animation-duration: 419ms;
}
.bar:nth-child(9) {
  left: 113px;
  animation-duration: 487ms;
}
.bar:nth-child(10) {
  left: 127px;
  animation-duration: 442ms;
}
