/****** RESET CSS STARTS HERE ***********/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/****** RESET CSS ENDS HERE ***********/

.main {
  max-height: 100vh;
}
.main .content {
  /* margin: 2em 25em; */
  height: 100%;
  display: flex;
  flex-direction: column;
  /* border: red solid; */
  position: relative;
  align-items: center;
}
.main .content .robo-content {
  /* margin: 2em 25em; */
  /* border: red solid; */
  position: relative;
  align-items: center;
}
.main .content .robo-svg {
  color: red;
  max-width: 40%;
  /* border: solid black; */
  margin: 2em 0;
}

.main .content .action-items {
  margin: 2em 0;
  /* border: solid blue; */
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  background-color: #93c7ef;
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
  padding: 1%;
  margin: 0 1em;
  cursor: pointer;
}

button:hover {
  /* background-color: #cce9f9; */
  background-color: #54a7d4;
}

.main .content .action-items .voice .voiceImage {
  max-height: 1em;
  padding: 0 0.2em;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.overlay .popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 500s ease-in;
}

.overlay .popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.overlay .popup .close {
  position: absolute;
  top: -5px;
  right: 0px;
  transition: all 100ms;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  border-radius: 50%;
  padding: 2%;
  /* height: 10px; */
  border: none;

  /* margin: 1%;
  border-radius: 50%;
  padding: 0.5em;
  /* width: 30px;
  height: 30px; */
  /* border: 2px solid blue; */
  color: blue;
  position: absolute;
}
.overlay .popup .close:hover {
  color: #06d85f;
}
.overlay .popup .joke-content {
  margin: 4% 2%;
  max-height: 30%;
  overflow: auto;
  color: #06d85f;
}
.overlay .popup .joke-content-punchline {
  margin: 4% 2%;
  max-height: 30%;
  overflow: auto;
  color: #06d85f;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
/* .spinner {
  margin-left: 2%;
  width: 70px;
}

.spinner > div {
  width: 8px;
  height: 8px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
} */
